body {
	background-color: #ffe5eb;
}


.errores {
	color: red;
	font-size: 18px;
}
.mi {
	border: 2px solid #000;
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.85);
	margin-top: 55px;
	text-align: center;
	color: red;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	border-radius: 15px;
}



#login {
	background-color: rgba(255,255,255,0.85);
	width: 400px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	padding: 5px;
	border-radius: 10px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.85);
	text-align: center;
}


#logo-txt {
	width: 150px;
	height: 150px;
}

.material-icons {
	margin-top: 25px;
}
#logo {
	width: 250px;
	height: 250px;
	margin-right: auto;
	margin-left: auto;
	display: block;			
}

.recuperar {
	text-align: left !important; 
	margin-left: 15px;
}
#marca {
	height: 100px;
}
#down {
	background-image: url(../img/fondo_ppal.jpg);
	background-repeat: no-repeat;
	background-size: cover;	
	height: 550px;
	padding-top: 55px;
}

#footer {
	margin-right: auto;
	margin-left: auto;
	width: 400px;
}

#mapa {
	padding-top: 5px;
	width: 960px;
	height: 600px;
	margin-right: auto;
	margin-left: auto;
}

.inicial p {
margin-left: 55px; 
font-size: 25px;
 }

.btn {
	width: 90%;
	margin-top: 15px;
	margin-bottom: 10px;
	border-radius: 35px !important;
	background-image: linear-gradient(to right top, #7632ff, #b51de5, #da16cc, #f12bb6, #ff46a3);

}


.btn:hover {
	background-color: #a5364b !important;
	text-shadow: 1px 1px 1px #000;
}

.dif { 
	background-color: #700363;
 }
.dif2 { 
	background-color: #357003;
 }
 

.desplegable {
	background-color: green;
}


#container {
  padding-left: 300px;
}

#content {
  padding: 20px;
}

footer {
	position: fixed;
	bottom: 15px;
	color: #000;
	padding-left: 455px;
}

form h3 {
	padding-left: 5px;
	text-align: center;
}

form .nuevo_voluntario {
	width: 600px;
	margin-top: 15px;
	padding-left: 25px;
	padding-right: 0px;
	border: 1px solid #000;
}

select {
	background-color: black;
	width: 150px;
	border: 1px solid white;
}

.uploadBtn {
	margin-bottom: 15px;
}

.tabla_stock {
	background-color: #fc9fb4;
}
.cabecera_stock {
	background-color: #ff547a;
	height: 35px;

}
.cabecera_stock a {
	color: #000;
}

.logo_boletin img {
width: 100px;
height: 100px;
}